{% extends 'blogapp/base.html' %}

{% block body_block %}
<div class="jumbotron">
    
    <h2>Kindly Login.</h2>
    <h6>(Must be a superuser. Check with the site admin.)</h6>

    {% if form.errors %}
    <p>Invalid username or password!</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-primary">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

</div>
{% endblock %}