{% extends 'blogapp/base.html' %}

{% block body_block %}
<h2>BLOG --</h2>
<p>What started small, with a single discount store and the simple idea of selling more for less, has grown over the
    last 50 years into the largest retailer in the world. Each week, nearly 265 million customers and members visit
    approximately 11,500 stores under 56 banners in 27 countries and eCommerce websites. With fiscal year 2020 revenue
    of $524 billion, Walmart employs over 2.2 million associates worldwide. Walmart continues to be a leader in
    sustainability, corporate philanthropy and employment opportunity. It’s all part of our unwavering commitment to
    creating opportunities and bringing value to customers and communities around the world.</p>
{% endblock %}